image:
  name: $BUILD_IMAGE

stages:
  - setup
  - test
  - build
  - package
  - deploy
  - deploy-prod

include:
  - template: License-Scanning.gitlab-ci.yml

variables:
  DOCKER_HOST: tcp://docker:2375
  DOCKER_TLS_CERTDIR: ""
  DOCKER_DRIVER: overlay2
  NODE_VERSION: 14.4.0
  BUILD_IMAGE: $DEV_AWS_REGISTRY/belzebuth-runner:$CI_COMMIT_SHA
  LATEST_BUILD_IMAGE: $DEV_AWS_REGISTRY/belzebuth-runner:latest
  AWS_REGION: "eu-west-1"
  BT_ENVIRONMENT: "sandbox"
  BT_MERCHANT_ID: "test-merchant-id"
  BT_PUBLIC_KEY: "test-public-key"
  BT_PRIVATE_KEY: "test-private-key"
  VAT_VALIDATION_SERVICE_ENDPOINT: "http://ec.europa.eu/taxation_customs/vies/checkVatService.wsdl"
  # AFFECTED_APPS: 'invoicing-graphql'
  AFFECTED_COMMAND: ""
  AFFECTED_ARGS: "--base=remotes/origin/develop"
  AFFECTED_APPS: "shared,invoicing-admin,invoicing-graphql,invoicing-web,reporting-backend"

Install Dependencies:
  interruptible: true
  allow_failure: false
  stage: setup
  before_script:
    - apk add aws-cli --repository=http://dl-cdn.alpinelinux.org/alpine/edge/community
    - apk add 'py3-botocore<1.18.0'
  services:
    - name: docker:dind
      entrypoint: ["env", "-u", "DOCKER_HOST"]
      command: ["dockerd-entrypoint.sh"]
  image: docker
  script:
    - $(aws ecr get-login --no-include-email --region "${AWS_REGION}")
    - ./tools/scripts/dockerize-builder.sh

Test:
  interruptible: true
  allow_failure: false
  stage: test
  script:
    - cd $HOME
    - git fetch
    - |
      if [ "$CI_COMMIT_REF_NAME" == "develop" ]; then
        AFFECTED_COMMAND="yarn run nx run-many --target=test --projects=$AFFECTED_APPS --configuration=production --parallel"
      else
       AFFECTED_COMMAND="yarn run affected:test $AFFECTED_ARGS --parallel --configuration=production"
      fi
    - eval $AFFECTED_COMMAND
  artifacts:
    # reports:
    #   cucumber:
    #     - report/apps/**/usage.txt
    #     - report/libs/**/usage.txt

Build:
  interruptible: true
  stage: build
  script:
    - cd $HOME
    - git fetch
    - |
      if [ "$CI_COMMIT_REF_NAME" == "develop" ]; then
        AFFECTED_COMMAND="yarn run nx run-many --target=build --projects=$AFFECTED_APPS --configuration=production --parallel --maxParallel=2"
      else
       AFFECTED_COMMAND="yarn run affected:build $AFFECTED_ARGS --parallel --configuration=production --maxParallel=2"
      fi
    - eval $AFFECTED_COMMAND
    # artifacts can't be uploaded outside $CI_PROJECT_DIR
    - mkdir -p $CI_PROJECT_DIR/.ci_status
    - |
      if [ "$CI_COMMIT_REF_NAME" == "develop" ]; then
        AFFECTED_COMMAND="echo "${AFFECTED_APPS//,/ }" > $CI_PROJECT_DIR/.ci_status/affected_apps"
      else
       AFFECTED_COMMAND="yarn run affected:apps $AFFECTED_ARGS --plain 2>&1 | sed -e "s/sisif-test//" | sed -e "s/reporting-pull-historic-events//" | tail -2 | head -n 1 > $CI_PROJECT_DIR/.ci_status/affected_apps"
      fi
    - eval $AFFECTED_COMMAND
    - mkdir -p dist
    - cp -r dist $CI_PROJECT_DIR
  artifacts:
    paths:
      - .ci_status
      - dist

Package Images:dev:
  interruptible: true
  stage: package
  image: docker
  variables:
    AWS_ACCESS_KEY_ID: $DEV_ACCESS_KEY
    AWS_SECRET_ACCESS_KEY: $DEV_SECRET_KEY
    AWS_REGISTRY: $DEV_AWS_REGISTRY
  before_script:
    - apk add --no-cache aws-cli
    - apk add 'py3-botocore<1.18.0'
  services:
    - name: docker:dind
      entrypoint: ["env", "-u", "DOCKER_HOST"]
      command: ["dockerd-entrypoint.sh"]
  script:
    - $(aws ecr get-login --no-include-email --region "${AWS_REGION}")
    - export AFFECTED_APPS=$(cat .ci_status/affected_apps)
    - ./tools/scripts/dockerize-apps.sh
  dependencies:
    - Build
  artifacts:
    paths:
      - .ci_status
      - dist

.deploy_base: &script_deploy
  when: manual
  before_script:
    - apk add python3
    - pip3 install --upgrade awscli
    - apk add --no-cache curl
    - curl -LO https://storage.googleapis.com/kubernetes-release/release/$(curl -s https://storage.googleapis.com/kubernetes-release/release/stable.txt)/bin/linux/amd64/kubectl
    - chmod +x ./kubectl
    - mv ./kubectl /usr/local/bin
  script:
    - export AFFECTED_APPS=$(cat .ci_status/affected_apps)
    - cd $HOME
    - ./tools/scripts/deploy-ci.sh
    - cp -r dist-k8s $CI_PROJECT_DIR
  artifacts:
    paths:
      - dist-k8s

Deploy:dev:
  tags:
    - "cluster:hindawi-dev"
  stage: deploy
  dependencies:
    - Package Images:dev
  <<: *script_deploy
  variables:
    TENANT: hindawi
    NODE_ENV: dev
    NAMESPACE: dev
    CLUSTER: hindawi-dev
    AWS_REGISTRY: $DEV_AWS_REGISTRY
    COMMAND: build-manifests

Deploy:qa:
  tags:
    - "cluster:hindawi-dev"
  stage: deploy
  dependencies:
    - Package Images:dev
  <<: *script_deploy
  variables:
    TENANT: hindawi
    NODE_ENV: qa
    NAMESPACE: qa
    CLUSTER: hindawi-dev
    AWS_REGISTRY: $DEV_AWS_REGISTRY
    COMMAND: build-manifests

Deploy:hindawi-demo:
  tags:
    - "cluster:hindawi-dev"
  stage: deploy
  dependencies:
    - Package Images:dev
  <<: *script_deploy
  variables:
    TENANT: hindawi
    NODE_ENV: demo
    NAMESPACE: demo
    CLUSTER: hindawi-dev
    AWS_REGISTRY: $DEV_AWS_REGISTRY
    COMMAND: build-manifests

Deploy:gsw-demo:
  tags:
    - "cluster:hindawi-dev"
  stage: deploy
  dependencies:
    - Package Images:dev
  <<: *script_deploy
  variables:
    TENANT: gsw
    NODE_ENV: demo
    NAMESPACE: demo-gsw
    CLUSTER: hindawi-dev
    AWS_REGISTRY: $DEV_AWS_REGISTRY
    COMMAND: build-manifests

Deploy:gsw-prod:
  tags:
    - "cluster:hindawi-prod"
  stage: deploy-prod
  dependencies:
    - Package Images:dev
  <<: *script_deploy
  variables:
    TENANT: gsw
    NODE_ENV: prod
    NAMESPACE: gsw-prod
    CLUSTER: hindawi-prod
    AWS_REGISTRY: $DEV_AWS_REGISTRY
    COMMAND: build-manifests

Deploy:hindawi-prod:
  tags:
    - "cluster:hindawi-prod"
  stage: deploy-prod
  dependencies:
    - Package Images:dev
  <<: *script_deploy
  variables:
    TENANT: hindawi
    NODE_ENV: prod
    NAMESPACE: prod-hindawi
    CLUSTER: hindawi-prod
    AWS_REGISTRY: $DEV_AWS_REGISTRY
    COMMAND: build-manifests

# Pages:
#   interruptible: true
#   stage: deploy
#   when: manual
#   script:
#     - cp -r report public/
#     - mv public/index.html public/coverage.html
#   artifacts:
#     paths:
#       - public/
#   dependencies:
#     - Test

pages:
  script:
    - cd $HOME
    # - mkdir report && chmod -R +x report
    - yarn run ci:coverage
    - cp -r coverage public/
    # - mv public/index.html public/coverage.html
  coverage: '/Statements\s*:.*?\s+(\d+.\d+)%/'
  artifacts:
    paths:
      - public
