/* You can add global styles to this file, and also import other style files */

@import './styles/variables';

@each $name, $color in $dashboard-colors {
  .fg-color--#{ $name } {
    color: $color;
  }
  .bg-color--#{ $name } {
    background-color: $color;
  }
}

:export {
  @each $name, $color in $dashboard-colors {
    #{$name}: $color;
  }
}

span.anticon.edit-button {
  display: none;
  float: right;
  margin-right: 24px;
}

.save-button {
  display: flex;
  justify-content: center;
}

.cancel-button {
  display: flex;
  justify-content: center;
}

.ant-table-row:hover span.anticon.edit-button {
  display: block;

  svg {
    width: 16px !important;
    height: 16px !important;
  }
}

.ant-table-row {
  height: 3.45em;
}

.amount-field {
  .ant-form-item-explain-connected {
    display: none;
  }

  .ant-input-affix-wrapper > input.ant-input {
    text-align: right !important;
  }
}

.ant-table-thead
  > tr
  > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
  background-color: white !important;
}

.ant-select-selection-item {
  color: #333333 !important;
}

.ant-select-arrow .anticon {
  color: #333333 !important;
}

.ant-table-container table > thead > tr:first-child th:first-child {
  padding-left: 32px !important;
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: white !important;
}

.ant-table-content {
  border: 1px !important;
}

.invoices-table {
  .ant-table-cell:first-child {
    padding-left: 24px !important;
  }
  .ant-table-tbody > tr > td {
    padding-right: 6px !important;
  }

  .ant-table-cell:last-child {
    padding-right: 16px !important;
  }
}

.creditNotes-table {
  .ant-table-tbody > tr > td {
    padding-right: 6px !important;
  }

  .ant-table-cell:last-child {
    padding-right: 16px !important;
  }
}

.ant-table-tbody > tr > td:first-child {
  padding-left: 32px !important;
}

span.anticon.notification-input-icon {
  svg {
    width: 42px !important;
    height: 42px !important;
    margin-top: 0.5em;
  }
}

.modal-title-wrap-edit {
  display: flex;
  .notification-input-title-edit {
    flex: 1;
  }

  .notification-input-icon-edit {
    margin-right: 1em;
  }

  span.anticon.notification-input-icon-edit {
    svg {
      width: 42px !important;
      height: 42px !important;
      margin-top: 0.5em;
    }
  }

  h2.ant-typography.primary {
    font-size: 20px;
    line-height: 64px;
  }
}

.modal-title-wrap-upload {
  display: flex;
  .notification-input-title {
    flex: 1;
  }

  h3.ant-typography.small {
    font-size: 20px;
    line-height: 64px;
  }

  .notification-input-icon {
    margin-right: 1em;
  }

  .notification-input-title-error {
    margin-top: 0.25em;
  }
  .notification-subtitle {
    display: block;
    font-size: 14px !important;
    font-weight: 300 !important;
    margin-top: 0.25em;
    line-height: 18px !important;
  }
}

.ant-modal-body {
  padding: 18px !important;
}
.csv-upload {
  .ant-upload-select-text {
    background-color: #f5f5f5 !important;
    padding: 0 !important;
    border: 0 !important;
  }
}

.csv-upload-button {
  .anticon.hdw-spinner {
    line-height: 0px !important;
  }
}

h2.ant-typography.primary.apc-header {
  margin-bottom: 1em;
  margin-top: 0.5em;
  font-size: 4em;
  font-weight: 300;
  line-height: 64px;
}

.ant-modal-content {
  .ant-modal-close {
    visibility: hidden;
  }
}

.sidebar-menu__entry {
  .anticon {
    svg {
      width: 24px;
      height: 24px;
      margin-bottom: 0.5em;
    }
  }
}

.ant-table {
  border-bottom: 1px solid #e0e0e0;
  border-radius: 2% 2% 0% 0% !important;
}
