/* You can add global styles to this file, and also import other style files */

@import './styles/variables';

@each $name, $color in $dashboard-colors {
  .fg-color--#{ $name } {
    color: $color;
  }
  .bg-color--#{ $name } {
    background-color: $color;
  }
}

:export {
  @each $name, $color in $dashboard-colors {
    #{$name}: $color;
  }
}

span.anticon.edit-button {
  display: none;
}

.ant-table-row:hover span.anticon.edit-button {
  display: block;
  float: left;
}

.ant-table-row {
  height: 3.45em;
}

.amount-field {
  .ant-form-item-explain-connected {
    display: none;
  }
}
